.filter-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #585B5E;
  color: #fff;
}
.filter-title {
  background-color: #4C4F51;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
.filter-items {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.25s ease-in;
}
.filter-items.open {
  transform: translate3d(0%, 0, 0);
  transition: transform 0.25s ease-out;
}
.filter-drill {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.25s ease-in;
}
.filter-drill.open {
  transform: translate3d(0%, 0, 0);
  transition: transform 0.25s ease-out;
}

.option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  border-bottom: 1px solid #4C4F51;
}

.option-item .hidden {
  visibility: hidden;
}
.option-item .name {
  width: 100%;
}
.option-item .name, .option-item .icon-check {
  padding: 0 20px;
}

.drill-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  border-bottom: 1px solid #4C4F51;
  padding: 0 20px 0 10px;
}
.drill-back .label {
  width: 100%;
  margin-left: 12px;
}

.filter-seperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  border-bottom: 1px solid #4C4F51;
  padding: 0 20px 0 10px;
  color: #CCC
}

.filter-seperator .label {
  width: 100%;
  margin-left: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}